/************************/

/*reset*/

/************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************/

/*colors*/

/************************/

/* rgb(128,128,0);
rgb(0,128,0);
rgb(255,0,0);
rgb(200,55,55);
rgb(0,0,0);
rgb(255,255,255);
rgb(0,0,255);
rgb(0,128,128); */

html {
  --black: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 10px;
}

body {
  background-color: rgb(0, 128, 0);
}

/************************/

/*wrapper*/

/************************/

.wrapper {
  height: 100vh;
  border: 3px solid var(--black);
  overflow: hidden;
}

/************************/

/*header/nav*/

/************************/

header {
  height: 5vh;
  width: 100%;
  background-color: rgb(128, 128, 0);
  border-bottom: 3px solid var(--black);
}

/************************/

/*SECTIONS*/

/************************/

/************************/

/*squares*/

.squares_wrap {
  width: 90%;
  height: 26vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  transition: 1s all;
}

.squares_wrap div {
  width: 110px;
  height: 110px;
  background-color: rgb(255, 0, 0);
  transform: rotate(50deg);
  border: 3px solid var(--black);
  transition: 1s all;
}

/* additional tweaks */

.squares_wrap div:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

.square_1 {
  margin-top: 90px;
}

/************************/

/*circle/equate*/

.circle_equate_wrap {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.equate {
  margin-right: 20px;
}

.equate div {
  width: 135px;
  height: 20px;
  background-color: rgb(0, 0, 255);
  border: 3px solid var(--black);
  transition: 1s all;
}

/* additional tweaks */

.equate:hover div {
  cursor: pointer;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

.equate div:first-child {
  margin-bottom: 25px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: rgb(0, 128, 128);
  border: 3px solid var(--black);
  transition: 1s all;
}

/* additional tweaks */

.circle:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
  animation: bouncy 1s;
}

/* animation for circle */

@keyframes bouncy {
  0%, 10%, 50%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
  }
}

/************************/

/*rectangle*/

.rectangle {
  height: 47vh;
  width: 210px;
  margin-left: 20%;
  margin-top: 15px;
  padding: 25px;
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(0, 0, 255);
  border: 3px solid var(--black);
  transition: 1s all;
}

/* additional tweaks */

.rectangle:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
  border-radius: 1%;
}

.rectangle:hover::after {
  content: "Do you hear the voices too?";
  display: block;
  font-size: 2rem;
  font-style: italic;
}

/************************/

/*MEDIA QUERIES*/

/************************/

/* additional media for smaller screens */

@media (max-width: 414px) {
  .squares_wrap {
    padding-top: 15px;
    height: 30vh;
  }
  .squares_wrap div {
    width: 70px;
    height: 70px;
  }
  .square_1 {
    margin-top: 60px;
  }
  .rectangle {
    height: 43vh;
  }
}

@media (min-width: 583px) {
  .rectangle {
    height: 80vh;
    width: 250px;
    /* maybe not the most elegant way of positioning in this case but it works fine... for now... */
    position: absolute;
    right: 3%;
    top: 10%;
    margin-left: 0;
    background-color: rgb(200, 55, 55);
  }
  .squares_wrap {
    height: 45vh;
    width: 50%;
    margin: 0;
  }
  .squares_wrap div {
    width: 140px;
    height: 140px;
  }
  .square_1 {
    margin-top: 130px;
  }
  .circle_equate_wrap {
    height: 45vh;
    width: 50%;
    margin: 0;
  }
  .equate div {
    width: 180px;
    height: 30px;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
}

/* additional media for landscape orientation */

@media (orientation: landscape) and (max-width: 823px) {
  .squares_wrap div {
    width: 70px;
    height: 70px;
  }
  .square_1 {
    margin-top: 60px;
  }
}

/* bigger screens */

@media (min-width: 901px) {
  .squares_wrap {
    width: 40%;
    float: left;
  }
  .circle_equate_wrap {
    width: 36%;
  }
  .rectangle {
    width: 220px;
    right: 1%;
    background-color: rgb(255, 255, 255);
  }
}

/* additional media - bigger screens 2 */

@media (min-width: 1029px) {
  .rectangle {
    width: 250px;
    right: 3%;
  }
}